<div class="card mb-3">
<div class="card-body">
  <div>
    <h5 class="card-title"><%= game.title %></h5>
  </div>
  <div>
    <h6>残り：10日 00:00:00</h6>
  </div>
  <p class="card-text"><%= game.detail %></p>
  <a href="#" class="btn btn-primary">詳細</a>
</div>
</div>
